<?php
$title = "Adicionando nova pessoa";
$this->headTitle($title);
?>

<h1><?= $this->escapeHtml($title) ?></h1>

<?php
$form->setAttribute('action', $this->url('pessoa', ['action' => 'adicionar']));
$form->prepare();

echo $this->form()->openTag($form);

$id = $this->form->get('id');
$nome = $this->form->get('nome');
$sobrenome = $this->form->get('sobrenome');
$email = $this->form->get('email');
$situacao = $this->form->get('situacao');

$nome->setAttribute('class', 'form-control');
$nome->setAttribute('autofocus', 'autofocus');
$sobrenome->setAttribute('class', 'form-control');
$email->setAttribute('class', 'form-control');
$situacao->setAttribute('class', 'form-control');

$submit = $this->form->get('submit');
$submit->setAttribute('class', 'btn btn-primary');

?>
<?= $this->formElement($id) ?>
<div class="row">
    <div class="col-md-12">
        <div class="form-group">
            <div class="col-md-12">
                <?= $this->formLabel($nome) ?>
                <?= $this->formElement($nome) ?>
                <?= $this->formElementErrors()->render($nome, ['class' => 'help-block']) ?>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-12">
                <?= $this->formLabel($sobrenome) ?>
                <?= $this->formElement($sobrenome) ?>
                <?= $this->formElementErrors()->render($sobrenome, ['class' => 'help-block']) ?>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-12">
                <?= $this->formLabel($email) ?>
                <?= $this->formElement($email) ?>
                <?= $this->formElementErrors()->render($email, ['class' => 'help-block']) ?>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-12">
                <?= $this->formLabel($situacao) ?>
                <?= $this->formElement($situacao) ?>
                <?= $this->formElementErrors()->render($situacao, ['class' => 'help-block']) ?>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-12">
                <?= $this->formElement($submit) ?>
                <a href="<?= $this->url('pessoa', ['action' => 'index']) ?>" class="btn btn-warning"> Voltar</a>
            </div>
        </div>
    </div>
</div>