<div class="row">
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-12">
                <table class="table table-hover table-bordered">
                    <thead>
                        <tr>
                            <th colspan="6">Testando view do controller Pessoa do mesmo módulo</th>
                        </tr>
                        <tr>
                            <th>Código</th>
                            <th>Nome</th>
                            <th>Sobrenome</th>
                            <th>E-mail</th>
                            <th>Situação</th>
                            <th>Ações</th>
                        </tr>
                    </thead>
                    <tbody>
                        <?php foreach ($pessoas as $pessoa) : ?>
                            <tr>
                                <td><?= $pessoa->getId() ?></td>
                                <td><?= $pessoa->getNome() ?></td>
                                <td><?= $pessoa->getSobrenome() ?></td>
                                <td><?= $pessoa->getEmail() ?></td>
                                <td><?= $pessoa->getSituacao() ?></td>
                                <td>
                                    <a href="<?= $this->url('pessoa', ['action' => 'editar', 'id' => $pessoa->getId()]) ?>" class="btn btn-info">
                                       Editar
                                    </a>
                                    <a href="<?= $this->url('pessoa', ['action' => 'remover', 'id' => $pessoa->getId()]) ?>" class="btn btn-danger">
                                       Remover
                                    </a>
                                </td>
                            </tr>
                        <?php endforeach; ?>

                    </tbody>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 ">
                <a href="<?= $this->url('pessoa', ['action' => 'adicionar']) ?>" class="btn btn-block btn-success"> Adicionar</a>
            </div>
        </div>
    </div>
</div>