<?php
$title = "Remover pessoa";
$this->headTitle($title);
?>
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <h1><?= $this->escapeHtml($title) ?></h1>
            </div>
            <div class="card-body">
                Você deseja realmente excluir <?= $this->escapeHtml($pessoa->getNome()) ?>?
            </div>
            <div class="card-footer">
                <form method="post" action="<?= $this->url('pessoa', ['action' => 'remover', 'id' => $id]) ?>">
                    <div class="form-group">
                        <input type="hidden" name="id" value="<?= $id ?>">
                        <input type="submit" name="delete" class="btn btn-danger" value="Sim">
                        <input type="submit" name="delete" class="btn btn-primary" value="Não">
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>